<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Face Tracker</title>
</head>

<body>

    <h1>Camera</h1>

    <button id="btn">Start Camera</button>

    <div>
        <p>Person Informations</p>
        <p>Name: <p id="name"></p></p>
        <p>Score: <p id="score"></p></p>
    </div>

    <img id="camera" width="800" height="400" alt="Camera stream" style="display: none">

    <button id="alarm" style="display: none">Stop Alarm</button>

    <script src="/static/index.js"></script>

</body>
</html>